texthidden.txt

# sebuah komentar - ini akan diabaikan *.env # abaikan semua file dengan akhiran .env !lib.env # tetapi lakukan track pada lib.env, jika telah mengabaikan file .env diatas /TODO # hanya abaikan semua file yang ada didalam TODO, tetapi tidak dengan subdirektori /TODO build/ # abaikan semua file didalam direktori build/ termasuk didalam subdirektorinya doc/*.txt # abaikan doc/notes.txt, tetapi tidak dengan doc/server/arch.txt